
 <head>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">

 </head>
 <body>
   
     <!--------------------------------Encabezado----------------------------->
 <header class="header">
    <div class="container">   
        <div class ="header-content">

           <nav class="nav">
             <ul>
             <li><a href="Inicio">Inicio</a></li>
             <li><a href="Cursos">Cursos</a></li>
             <li><a href="AgregarCurso">Agregar Curso</a></li>
             <li><a href="Contacto">Contacto</a></li> 
              </ul>
            </nav>

           <div class="user-actions">
             <input type="text" class="search-bar" placeholder="Buscar...">
             <button class="login-btn">Inicia sesión</button>
             <button class="register-btn">Regístrate</button>
            </div>
        </div>
    </div>

 <!-- Main Section -->
 <section class="main">
    <div class="container">
        <div class="main-content">
            <div class="text-content">
             <h1>Acelera tu futuro<br>
                 Aprende donde y <br>
                 cuando quieras</h1>
             <button class="find-courses-btn" routerLink="/cursos">Encontrar cursos</button>
            </div>
            <div class="image-content">
            <!------- <img src="img/ICONO.PNG" alt="iconoprin"> --->
             <img src="../../assets/img/ICONO.PNG" alt="iconoprin">
            </div> 
        </div>
    </div>
  </section>
<!-----SEARCH-SECTION---->
 <section class="search-section">
    <div class="container">
        <p>¿Qué quieres aprender? </p>
        <div class="search-container">
          <input type="text" class="search-input" placeholder="">
         <!----<img src="img/lupa.png" alt="Buscar" class="search-icon">--->
         <img src="../../assets/img/lupa.png" alt="Buscar" class="search-icon"    >

        </div>
    </div>
  </section>
</header>
   
    <!----------------------INICIO--------------------------------------------->
    <section id="Inicio">
        <h1>Bienvenido a AcademiaEnRed.com</h1>
        <p>Nuestra plataforma te ofrece una amplia variedad de cursos diseñados para ayudarte a adquirir nuevas habilidades y avanzar. 
         Con instructores altamente calificados y programas que abarcan desde programación y ciencia de datos hasta ciberseguridad, brindamos formación accesible 
         para todos los niveles. Los cursos incluyen materiales interactivos y prácticos para que puedas aprender a tu propio ritmo.
         <br>
         <br>
         ¡Comienza tu viaje de aprendizaje hoy y expande tus conocimientos en el mundo digital!
         <br>
         Aquí te mostraremos cuáles son los cursos gratis que mejores comentarios han tenido por parte del público. 
         <br>
         <br>
        ¡De seguro hay alguno que te interesa!</p>
    </section>

</body>



   <!------------------------------Pie de página------------------------------>
   <footer class="footer">
    <div class="footer-column">
        <p>🎧 Atención al cliente 24/7: (+593)980524806</p>
        <p>Email: AcaEndRed057gmail.com</p>
        <div class="social-icons">
            <a href="https://facebook.com/tu-pagina" target="_blank">
               <!-------- <img src="img/facebook.PNG" alt="Facebook">--->
                <img src="../../assets/img/facebook.PNG" alt="Facebook">
            </a>
            <a href="https://instagram.com/tu-perfil" target="_blank">
              <!-------  <img src="img/instagram.PNG" alt="Instagram">-->
                <img src="../../assets/img/instagram.PNG" alt="Instagram">
            </a>
            <a href="https://youtube.com/tu-canal" target="_blank">
              <!--------<img src="img/youtube.PNG" alt="YouTube">---->
                <img src="../../assets/img/youtube.PNG" alt="YouTube">
            </a>
            <a href="https://wa.me/tu-numero" target="_blank">
             <!-------<img src="img/whatsapp.PNG" alt="WhatsApp">---->
                <img src="img/whatsapp.PNG" alt="WhatsApp">
            </a>
            <a href="https://tiktok.com/tu-perfil" target="_blank">
                <!-------- <img src="img/tik-tok.PNG" alt="TikTok"> --->
                <img src="../../assets/img/tik-tok.PNG" alt="TikTok">
            </a>
        </div>
    </div>
    <div class="footer-column">
        <div class="footer-center">
            <h3>PREGUNTAS FRECUENTES</h3>
            <ul>
                <li>Centro de ayuda en línea</li>
                <li>Política de devolución</li>
                <li>Términos y condiciones</li>
                <li>Propiedad intelectual</li>
            </ul>
        </div>
    </div>
    <p> ® 2019 - 2028 <br>  AcademiaEnRed  <br> Todos los derechos reservados</p>
</footer>

